
<div class="offers d-flex">
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Movie Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userobj">
        <td>{{user}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Theater Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let theater of userTheater">
          <td>{{theater}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Show Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let show of userBookings">
          <td *ngIf="show.showId===1">9:00</td>
          <td *ngIf="show.showId===2">1:00</td>
          <td *ngIf="show.showId===3">6:00</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Seats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seat of userBookings">
          <td>{{seat.seatId}}</td>
      </tr>
    </tbody>
  </table>

</div>

<button (click)="onBack()" type="button" class="btn btn-success">Back</button>
