.carousel-inner img {
    width: 50%;
    height: 50%;
  }
body{
    height: 100%;
    background-image: url("../../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.table{
  width: 50%;
}
.offers{
  margin-left: 650px;
  margin-top: 150px;
}