
<div class="offers">
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Todays Deals</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>50% Off on using SBI Card</td>  
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>10% Off on Axis Bank</td>
      </tr>
    </tbody>
  </table>
<button (click)="onBack()" type="button" class="btn btn-success">Back</button>
</div>
