<h4>the selected id is {{movieId}}</h4>
<h3>{{movieName}}</h3>
<div *ngFor="let theater of theaters;let ind=index;" class="p-2">
    <div class="d-flex align-items-center">
        <h5 class="me-5">{{theater.name}}</h5>
        <button (click)="onTicketBook(1,theater.id)"  type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">9:00</button>
        <button (click)="onTicketBook(2,theater.id)"   type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">1:00</button>
        <button (click)="onTicketBook(3,theater.id)"  type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">6:00</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Ticket</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Tickets Available:{{ticketsAvailable}}</h5>
          <h5>Ticket price:200</h5>
          <label>Enter the No. of Tickets:</label>
          <input type="text">
          <label>Enter Coupen code:</label>
          <input type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button (click)="onBook()" type="button" class="btn btn-primary">Book</button>
        </div>
      </div>
    </div>
  </div>

<button (click)="onNext()" type="button" class="btn btn-primary">Next</button>
