body {
    height: 100%;
    background-image: url("../../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pgView {
    margin-left: 500px;
    margin-top: 100px;

    h3 {
        color: lightcoral;
    }

    span {
        color: darkblue;
    }
}

.shows {
    .btn {
        margin-left: 25px;
    }
}
.err{
    color:red;
}